.van-tabbar .van-tabbar-item--active .van-tabbar-item__icon {
    background: linear-gradient(0deg,#246afd,#a669fa);
}
.van-tabbar .van-tabbar-item--active .van-tabbar-item__icon .van-icon {
    color: #fff;
    font-weight: 400;
}
.van-tabbar .van-tabbar-item__icon {
    width: 36px;
    height: 36px;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.van-tabbar {
    background-color: #181a24;
    border-radius: 20px 20px 0 0;
}
.van-tabbar .van-tabbar-item--active {
    background: none;
}